@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s4 card">
        <h2>About Me</h2>
        <p class="info blue lighten-5">My name is <strong>Brandon Cooper</strong> and this is my page. It is all about me and my amazing <a href="https://github.com/bcooper085">GitHub</a> page. I joined Epicodus to learn how to create custom and inspiring websites and applications. Click on a project below to explore my progress.</p>
    </div>
    <div class="col s1"></div>
    <div class="col s6 card">
        <div class="my-info">
            <h3 class="black">Education</h3>
            <ul>
                <li>Bachelors of Science in Business Administration | San Diego State University</li>
                <li>KEDGE Business School | International Business - Abroad Program | Marseille, France</li>
            </ul>
            <h3 class="black">Job Experience</h3>
            <ul>
                <li>Home Residence Computing Chair</li>
                <li>But I'm working on it</li>
            </ul>
            <h3 class="black">Hobbies</h3>
            <ul>
                <li>Golf</li>
                <li>Hiking</li>
                <li>Photography</li>
            </ul>
        </div>
    </div>
</div>