@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to my Portfolio</h2>
<div class="row">
    <div class="card col s6">
        <div class="card-image">
            <a href="https://github.com/bcooper085"><img src="http://www.aha.io/assets/github.7433692cabbfa132f34adb034e7909fa.png" /></a>
</div>
        <h4>Please checkout some of the projects on my <a href="https://github.com/bcooper085">GitHub</a>.</h4>
    </div>
    <div class="card col s6">
        <div class="card-image">
            <a href="mailto:bcooper085@gmail.com"><img src="https://d2kv389z282s26.cloudfront.net/wp-content/blogs.dir/1/files/2013/05/email-logo.jpg" /></a>
</div>
        <h5 class="card-content">Please contact me with any questions at bcooper085@gmail.com<a href="mailto:bcooper085@gmail.com"><br />Send Email</a></h5>
    </div>
</div>