@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Portfolio.Models.Project>
<div class="row"><h2 class="col s10 black">Projects</h2></div>
<h4>Listed below are a few of the application found on my <a href="https://github.com/bcooper085">GitHub</a>.</h4>

<div class="row">  
    @foreach (var project in Model)
    {
        if (project.stargazers_count != 0)
        {
            <div class="card col s8 project-list">
                <h3>@project.name</h3>
                <h5>@project.description</h5>
                <div class="card-action card-content grey lighten-4">
                    <a href="@project.html_url">@project.html_url</a>
                </div>                
            </div>
        }
    }  
</div>